@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;800&display=swap');

:root {
	--aquamarine: #90DEB5;
	--golden: #EFD79F;
	--darkgolden: #E7C981;
	--darkpink: #EFABB7;

	--grey: #F9F9F9;
	--darkgrey: #484848;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { font-size: 16px; }

a { text-decoration: none; }

a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

a:focus, a:hover { color: var(--darkgrey); cursor: pointer; }

textarea, input, select {
    outline: none;
}

.no-highlight {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    /*overflow: hidden;*/
}

/*.container {
	background-color: var(--golden);
	height: 100vh;
    width: 100vw;
    display: block;
}*/

header {
	background-color: var(--aquamarine);
	height: 12.5vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-direction: column;*/
	/*justify-content: flex-end;*/
	/*align-items: bottom;*/
}

.title {
    font-family: Source Sans Pro, sans-serif;
    font-size: 2rem;
	font-weight: 800;
}

.header-nav {
	/*background-color: grey;*/
	right: 0vw;
	top: 2.5vh;
	position: absolute;
	display: flex;
	justify-content: flex-end;
}

.nav-items {
	margin-right: 1.5vw;
	/*margin-bottom: 0.5vw;*/
	color: var(--grey);
	font-size: 1.2rem;
}

main {
	background-color: var(--golden);
	height: 82.5vh;
	width: 100vw;
	/*display: block;*/
	display: flex;
	justify-content: center;
	overflow-y: auto;

}

.main-container {
	/*background-color: var(--darkgolden);*/
	height: 100%;
	width: 95%;
	/*padding-top: 2%;*/
	padding-bottom: 1%;
	display: grid;
	grid-template-columns: repeat(12, 1fr) ;
	grid-template-rows: 10% 90%;
	/*justify-content: center;*/
	/*align-items: center;*/
}

.range-section {
	background-color: red;
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: left;
	/*padding: 0.5rem;*/
	/*margin: 0 auto;*/
}

.range-form {
	/*margin: auto auto;*/
}

/*.search-section {
	background-color: yellow;
	border: 2px solid black;
	grid-column: 3 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.search-form {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

input {
	padding-left: 0.3rem;
	border: 1px solid black;
	border-radius: 5px;
}


.tags-section {
	background-color: rgba(255, 255, 255, 200);
	background-color: green;

	padding-bottom: 2rem;
	border: 1px solid black;
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	border-radius: 10px;
	padding-top: 2vh;


	justify-content: center;
	align-items: center;
	/*height: 50px;*/
}

.tags-title {
	/*background-color: red;*/
	height: 7%;
	width: 100%;
	text-align: center;
}

.tags-clear {
	/*background-color: blue;*/
	margin-left: 0.3rem;
	width: 90%;
	width: 40%;
	/*overflow: hidden;*/
}

.tags-all {
	/*background-color: blue;*/
	margin-left: 0.3rem;
	width: 90%;
	width: 40%;
}

.tags-form {
	/*background-color: green;*/
	margin-top: 1rem;
	width: 90%;
	height: 80%;
	margin: 0 auto;
	color: black;

	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.checkbox-item {
	height: 20px;
	/*display: block;*/
}


input[type="checkbox"] {
	vertical-align: middle;
}

label {
	font-size: 0.95rem;
}



.cats-section {
	height: 100%;
	background-color: pink;
	/*border: 2px solid black;*/
	grid-column: 3 / -1 ;
	/*overflow: hidden;*/
	/*overflow-y: hidden;*/
	width: 100%;
	height: 100%;
	display: flex;

	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.fixed-frame {
	/*background-color: black;*/
	/*border: 2px solid black;*/
	width: 100%;
	/*height: 50px;*/
	/*overflow: hidden;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scene {
/*	height: 100px;
	width: 100px;*/
	/*border: 2px solid black;*/
	/*background-color: var(--darkpink);*/

	width: 90%;
	/*height: 100%;*/
	display: grid;
	/*padding-left: 3%;*/
	justify-content: center;
	grid-column-gap: 1vw;
	grid-row-gap: 1.5vw;
}

.scene-0 {
	/*display: none;*/
}

/*.cats-grid {
	background-color: blue;
	display: grid;
	padding-left: 3%;
	grid-template-columns: repeat(5 , 14vw);
	grid-template-rows: repeat(2, 14vw);
	grid-column-gap: 1vw;
	grid-row-gap: 1.5vw;
}*/


.navigation {
	padding: 1rem;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	height: 7%;
	color: black;
}

.cat-card {
	background-color: white;
	border: 1px solid black;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.cat-image {
	/*background-color: red; */
	width: 100%;
	height: 70%;
	background-size: contain;
	background-repeat: no-repeat;
}
.cat-title { 
	/*background-color: yellow; */
	width: 100%;
	height: 15%;
	text-align: center;
	font-size: 1.4rem;
}

.cat-text { 
	/*background-color: blue;*/
	width: 100%;
	/*height: 15%;*/
	justify-content: center;
	text-align: center;
	color: grey;
	font-size: 1rem;
	
}




footer {
	background-color: var(--darkgrey);
	margin: 0 auto;
	/*padding: 0 auto;*/

	vertical-align: middle;
	height: 5vh;
	width: 100vw;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer > div {
	/*background-color: red;*/
	font-size: 0.85rem;
	color: var(--grey);
}

footer > div > a:focus,
footer > div > a:hover { color: black; cursor: pointer; }


.hamburger-icon {
	/*display:  none;*/
	/*background-color: cyan;*/
	position: absolute;
	left: 2.5vw;
	font-size: 3rem;
}

.hamburger-menu {
	/*display:  none;*/
	background-color: cyan;
	position: absolute;
	left: 2.5vw;
	font-size: 3rem;
}


/*MOBILE DEVICES*/
@media (max-width: 500px) {
	header {
		background-color: yellow;
	}

	.main-container {

	}

	.range-section {
		grid-column: 1 / 1;
		display: none;
	}

	.tags-section {
		grid-column: 1 / 2;
		display: none;
	}

	.cats-section {
		/*grid-column: 4 / -1;*/
	}

		.fixed-frame {
			/*flex-direction: row;*/
		}

			.scene {
			/*flex-direction: row;*/

			}
}